In [1]:
from mlxtend.frequent_patterns import association_rules, apriori
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sqlalchemy import create_engine
from sklearn.externals import joblib
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_column', None)
import pyfpgrowth as fpg
import pickle

/anaconda3/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [3]:
connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)
df_order = pd.read_sql_query('''SELECT * FROM "Instacart"."Order";''', engine)
orders = pd.DataFrame(df_order)
orders.head()

   OrderID  UserID EvalSet  OrderNum  DateTimeKey  DaysSincePriorOrder
0  2539329  1       prior   1         56          NaN
1  2398795  1       prior   2         79           15.0
2  473747   1       prior   3         84           21.0
3  2254736  1       prior   4         103          29.0
4  431534   1       prior   5         111          28.0

In [4]:
orders['UserTotalOrder'] = orders.groupby('UserID').OrderID.transform('count')

In [10]:
popularUserByNumberOfOrder = orders.loc[orders.UserTotalOrder >= 26][["UserID", "UserTotalOrder"]].reset_index(drop = True)

In [25]:
popularUserByNumberOfOrder = popularUserByNumberOfOrder.groupby("UserID").count()

In [28]:
popularUserByNumberOfOrder.to_pickle("popularUserByNumberOfOrder.pickle")