In [3]:

import pandas as pd
from sqlalchemy import create_engine
import pickle

In [4]:
connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)
file = open('popularUserByNumberOfOrder.pickle', 'rb')

# dump information to that file
popularUsers = pickle.load(file)

In [5]:
def openPickle(name):
    file = open(name, 'rb')
    return pickle.load(file)

In [3]:
query = '''SELECT fp."OrderID", fp."ProductID", fp.add_to_cart_order, fp.reordered, o."UserID"
	FROM "Instacart"."factOrderProduct" fp, "Instacart"."Order" o
	WHERE o."OrderID" = fp."OrderID";'''

In [6]:
df_factOrderProduct = openPickle("orig_factOrderProduct.pickle")
df_factOrderProduct.head()

   OrderID  ProductID  add_to_cart_order  reordered
0        2      33120                  1       True
1        2      28985                  2       True
2        2       9327                  3      False
3        2      45918                  4       True
4        2      30035                  5      False

In [7]:
order_df = openPickle("orig_order.pickle")
order_df.head()

   OrderID  UserID EvalSet  OrderNum  DateTimeKey  DaysSincePriorOrder
0  2539329       1   prior         1           56                  NaN
1  2398795       1   prior         2           79                 15.0
2   473747       1   prior         3           84                 21.0
3  2254736       1   prior         4          103                 29.0
4   431534       1   prior         5          111                 28.0

In [ ]:
factOrderProduct_with_userID.to_pickle('factOrderProduct_with_userID.pickle')