In [1]:
from itertools import combinations 
import pickle
import pandas as pd

def rSubset(arr, r): 
  
    # return list of all subsets of length r 
    # to deal with duplicate subsets use  
    # set(list(combinations(arr, r))) 
    return list(combinations(arr, r)) 

def insertUniquePairingIntoDict(dic, array):
    for pair in rSubset(array, 2):
        if dic.get(pair) == None:
            dic[pair] = 1
        else:
            dic[pair] = dic[pair] + 1
    return dic
    
def openPickle(name):
    file = open(name, 'rb')
    return pickle.load(file)

In [2]:
test = openPickle("popularProducts.pickle")

In [3]:
test.head()

    ProductID  ProductTotalOrdered
0           1                 1928
2           3                  283
3           4                  351
9          10                 2691
22         23                 1138

In [7]:
test.loc[test.ProductID == 21137]

       ProductID  ProductTotalOrdered
21134      21137               275577