# Import Libraries

In [7]:
from mlxtend.frequent_patterns import association_rules, apriori
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sqlalchemy import create_engine
from sklearn.externals import joblib
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_column', None)
pd.set_option('display.max_row', None)

# Data Mining

In [2]:
connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)

In [3]:
df_factOrderProduct = pd.read_sql_query('''SELECT * FROM "Instacart"."factOrderProduct";''', engine)
factOrderProduct = pd.DataFrame(df_factOrderProduct)
factOrderProduct.head()

   OrderID  ProductID  add_to_cart_order  reordered
0  2        33120      1                  True
1  2        28985      2                  True
2  2        9327       3                  False
3  2        45918      4                  True
4  2        30035      5                  False

In [4]:
ProductTotalOrdered = factOrderProduct.groupby("ProductID", as_index = False)["OrderID"].count().rename(columns = {"OrderID" : "ProductTotalOrdered"})

In [5]:
ProductTotalOrdered.head()

   ProductID  ProductTotalOrdered
0  1          1928
1  2          94
2  3          283
3  4          351
4  5          16

In [12]:
sortedProductTotalOrder = ProductTotalOrdered.sort_values("ProductTotalOrdered", ascending=False)

In [ ]:
#3346083

In [21]:
TOTAL_NUMBER_OF_ORDER = 3346083

def getThreshold(percentage):
    return int((percentage/100) * TOTAL_NUMBER_OF_ORDER)

In [26]:
filteredProduct = sortedProductTotalOrder.loc[ProductTotalOrdered.ProductTotalOrdered > getThreshold(1)]

In [47]:
filteredProduct.loc[filteredProduct.ProductID == 28985]

       ProductID  ProductTotalOrdered
28982  28985      70076

In [45]:
factOrderProduct.concat(, axis = 1)

0    False
1    True
2    False
3    False
4    False
Name: ProductID, dtype: bool

In [64]:
metThreshold = factOrderProduct.ProductID.isin(filteredProduct.ProductID).reset_index().rename(columns = {"ProductID" : "metThreshold"})

In [65]:
combined = pd.concat([factOrderProduct,metThreshold], axis = 1)

In [74]:
filteredProductWithThreshold = combined.loc[combined.metThreshold == True]

In [75]:
test = filteredProductWithThreshold.groupby('OrderID')['ProductID'].apply(list).reset_index()
test.head()

   OrderID                     ProductID
0  1        [49683, 13176, 47209, 22035]
1  2        [28985, 17794]
2  3        [24838, 21903, 46667]
3  5        [13176, 27966, 23909, 47209]
4  9        [31506]

In [76]:
test.to_pickle('productsPerOrder_with_threshold.pickle')