In [1]:
from mlxtend.frequent_patterns import association_rules, apriori
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sqlalchemy import create_engine
from sklearn.externals import joblib
import pickle
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_column', None)
pd.set_option('display.max_row', None)

/anaconda3/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
def openPickle(name):
    file = open(name, 'rb')
    return pickle.load(file)

In [6]:
df_factOrderProduct = openPickle("orig_factOrderProduct.pickle")
df_order = openPickle("orig_order.pickle")

In [35]:
query = '''SELECT fp."OrderID", fp."ProductID", fp.add_to_cart_order, fp.reordered, p."DepartmentID"
	FROM "Instacart"."factOrderProduct" fp, "Instacart"."Product" p
	WHERE p."DepartmentID" in (8,11,17,18) 
	and p."ProductID" = fp."ProductID";'''

connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)
readDB = pd.read_sql_query(query, engine)
non_eatable_factOrderProduct = pd.DataFrame(readDB)

In [54]:
query_eatable = '''SELECT fp."OrderID", fp."ProductID", fp.add_to_cart_order, fp.reordered, p."DepartmentID"
	FROM "Instacart"."factOrderProduct" fp, "Instacart"."Product" p
	WHERE p."DepartmentID" in (1,3,4,5,6,7,9,12,13,14,15,16,19,20) 
	and p."ProductID" = fp."ProductID"
	;'''
readDB_2 = pd.read_sql_query(query_eatable, engine)
eatable_factOrderProduct = pd.DataFrame(readDB_2)

In [55]:
factOrderProduct_with_userID = eatable_factOrderProduct.merge(df_order, on = ["OrderID"], how = "inner")

In [56]:
eatable_factOrderProduct.shape

(31883383, 5)

In [57]:
test = factOrderProduct_with_userID.groupby('UserID')['ProductID'].unique().apply(list).reset_index()
test.shape

(206094, 2)

In [58]:
test.to_pickle("productPerUser_eatable.pickle")

In [30]:
test.shape

(206209, 2)

In [31]:
test.loc[test.UserID == 2]

,UserID,ProductID
1,2,"[49451, 32792, 32139, 34688, 36735, 37646, 22829, 24852, 47209, 33276, 45613, 9681, 21150, 32792, 28918, 24852, 34688, 48110, 47209, 32052, 17758, 40198, 46886, 22963, 23, 20084, 2002, 5212, 14306, 24852, 16589, 1559, 19156, 18523, 22825, 27413, 33754, 21709, 47209, 7781, 2573, 39928, 20785, 24768, 7963, 32792, 12000, 9681, 32139, 32052, 27344, 24852, 45066, 27966, 47209, 36735, 46676, 33754, 17872, 18523, 24954, 4957, 40571, 41787, 19051, 33276, 32792, 4071, 19051, 19156, 18523, 1559, 22124, 33754, 22474, 16589, 32139, 8296, 47209, 2002, 21227, 24852, 12000, 47209, 17872, 18523, 1559, 19156, 2002, 2573, 16797, 47526, 8479, 47766, 19051, 8138, 47144, 5322, 17224, 38656, ...]"

In [53]:
test.head()

   UserID       ProductID
0  1       [26405]
1  2       [47553, 12007]
2  3       [8021]
3  4       [7160, 2707]
4  5       [20843]