In [4]:
from mlxtend.frequent_patterns import association_rules, apriori
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sqlalchemy import create_engine
from sklearn.externals import joblib
import pickle
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_column', None)

In [2]:
connection_string = 'postgresql://postgres:tiger@localhost:5432/postgres'
engine = create_engine(connection_string)

In [5]:

with open('productsPerOrder_eatable.pickle', "rb") as f:
    productsPerOrder_eatable = pickle.load(f)
productsPerOrder_eatable.head()

,OrderID,ProductID
0,1,"[49302, 11109, 10246, 49683, 43633, 13176, 47209, 22035]"
1,2,"[33120, 28985, 9327, 45918, 30035, 17794, 40141, 1819, 43668]"
2,3,"[33754, 24838, 17704, 21903, 17668, 46667, 17461, 32665]"
3,4,"[46842, 39758, 27761, 10054, 21351, 22598, 34862, 40285, 17616, 25146, 32645, 41276]"
4,5,"[13176, 15005, 47329, 27966, 23909, 13245, 9633, 27360, 6348, 40878, 6184, 48002, 20914, 37011, 12962, 24773, 41176, 47209, 46522, 38693, 48825, 8479]"

In [8]:
productsPerOrder_eatable.head()

,OrderID,ProductID
0,1,"[49302, 11109, 10246, 49683, 43633, 13176, 47209, 22035]"
1,2,"[33120, 28985, 9327, 45918, 30035, 17794, 40141, 1819, 43668]"
2,3,"[33754, 24838, 17704, 21903, 17668, 46667, 17461, 32665]"
3,4,"[46842, 39758, 27761, 10054, 21351, 22598, 34862, 40285, 17616, 25146, 32645, 41276]"
4,5,"[13176, 15005, 47329, 27966, 23909, 13245, 9633, 27360, 6348, 40878, 6184, 48002, 20914, 37011, 12962, 24773, 41176, 47209, 46522, 38693, 48825, 8479]"